<div class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-1 text-right">
                <h4>{{_.filters.mainLabel}}</h4>
            </div>
            <div class="col-sm-11">
                <ul class="nav nav-pills">
                    <li class="filter-button active"><a id="source-all" href="#">All sources</a></li>
                    <li class="filter-button"><a id="source-skype" href="#"><i class="fa fa-skype"></i> Skype</a></li>
                    <li class="filter-button"><a id="source-irc" href="#"><i class="fa fa-terminal"></i> Irc</a></li>
                    <li class="filter-button"><a id="source-github" href="#"><i class="fa fa-github"></i> GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>