<form class="form-inline bg-info" id="filters-form">
    <div class="form-group">
        <label for="filters-source-element">{{_.filters.sourceLabel}}</label>
        <select class="form-control"
            id="filters-source-element"
            name="filters[source]"
            ng-options="source.id as source.label for source in sources"
            ng-model="filters.source"
            ng-change="setupLatestMessages()">
            <option value="">{{_.filters.allSources}}</option>
        </select>
    </div>
</form>