<link rel="stylesheet" type="text/css" href="public/style.css">
<script src="src/lang/en.js"></script>
<script src="src/filters/author.js"></script>
<script src="src/filters/github.js"></script>
<script src="src/filters/time.js"></script>
<script src="src/filters/scrutinizer.js"></script>
<script src="src/filters/travis.js"></script>
<script src="src/controllers/appController.js"></script>
<script src="src/controllers/mainController.js"></script>
<script src="src/services/ajaxService.js"></script>
<script src="src/services/apiService.js"></script>