body {
    padding-top: 70px;
}

.navbar-brand {
    font-size: 28px;
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Icons of source */
.fa-irc:before { content: "\f120"; }

/* Filters form */
#filters-form {
    padding: 5px 10px;
    margin-bottom: 20px;
}

#filters-form label {
    font-size: 13px;
}

/* Message */
.message > .content > .metadata {
    margin-bottom: 5px;
}

.message > .content .metadata .metadata-date {
    font-size: 12px;
    color: #aaa;
}

.message .well.well-sm.body {
    font-size: 12px;
    color: #474747;
}