body {
  padding-top: $content-offset;
  font-size: $base-font;
}

.header {
  padding: $smaller-offset 0;

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

  height: $header-height;
  overflow: hidden;

  background-color: $blue;
  text-align: center;

  z-index: 10;
}

hr {
  margin-top: $base-offset;
  margin-bottom: $base-offset;
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Icons of source */
.fa-irc:before { content: "\f120"; }