.message .content {
  padding: $small-offset;
  margin-bottom: $small-offset;

  border: $base-border-width solid $lighter-grey;
  border-radius: $base-border-radius;

  .source {
    position: relative;
    top: -$smaller-offset;
    left: -$tiny-offset;

    @media screen and (max-width: $break-small) {
      display: block;
      left: 0;
      text-align: center;
    }
  }

  .metadata {
    display: inline-block;
    margin-bottom: $smaller-offset;

    .metadata-date {
      display: block;
      clear: left;

      font-size: $smaller-font;
      color: $light-grey;
    }

    @media screen and (max-width: $break-small) {
      display: block;
      text-align: center;
    }
  }

  .body {
    padding-left: $base-offset;
    margin-left: $smaller-offset;

    border-left: $huge-border-width solid $lighter-grey;

    color: $medium-grey;
    font-size: $small-font;

    word-wrap: normal;
    word-break: break-word;

    @media screen and (max-width: $break-small) {
      margin-top: $base-offset;

      border-left-width: 4px;
      padding-left: $small-offset;
    }
  }
}