<div class="content">
    <i class="source {{'fa fa-2x fa-' + message.source}}" title="{{message.source}}"></i>
    <div class="metadata">
        <span ng-bind-html='message.author | githubUser'></span>
        {{message.body}}
        <span ng-bind-html='message | githubAction'></span>
        <time class="metadata-date" moment-time-ago="message.timestamp"></time>
    </div>
    <div class="body formatted" ng-init="messageText = (message | githubExtendedMessage)" ng-show="messageText.length > 0" ng-bind-html='messageText'>
    </div>
</div>