/* Base colors */
/* Base font properties */
/* Offset properties used for margin and padding */
/* Element border properties */
/* Media query breakpoints */
body {
  padding-top: 85pt;
  font-size: 12pt;
}

.header {
  padding: 5pt 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  left: 0;
  top: 0;
  height: 70pt;
  overflow: hidden;
  background-color: #008cba;
  z-index: 10;
}

hr {
  margin-top: 15pt;
  margin-bottom: 15pt;
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Icons of source */
.fa-irc:before {
  content: "\f120";
}

#filters-form {
  padding: 0;
  margin: 0;
}
#filters-form .form-control {
  vertical-align: baseline;
}
#filters-form label {
  font-size: 1.2em;
}

.message .content {
  padding: 10pt;
  margin-bottom: 10pt;
  border: 1pt solid #d3d3d3;
  border-radius: 5pt;
}
.message .content .source {
  position: relative;
  top: -5pt;
  left: -2pt;
}
@media screen and (max-width: 360pt) {
  .message .content .source {
    display: block;
    left: 0;
    text-align: center;
  }
}
.message .content .metadata {
  display: inline-block;
  margin-bottom: 5pt;
}
.message .content .metadata .metadata-date {
  display: block;
  clear: left;
  font-size: 0.7em;
  color: #bbbbbb;
}
@media screen and (max-width: 360pt) {
  .message .content .metadata {
    display: block;
    text-align: center;
  }
}
.message .content .body {
  padding-left: 15pt;
  margin-left: 5pt;
  border-left: 8pt solid #d3d3d3;
  color: #888888;
  font-size: 0.8em;
  word-wrap: normal;
  word-break: break-word;
}
@media screen and (max-width: 360pt) {
  .message .content .body {
    margin-top: 15pt;
    border-left-width: 4px;
    padding-left: 10pt;
  }
}

.source-travis .content {
  border-top-width: 3pt;
}
.source-travis .content.passed, .source-travis .content.fixed {
  border-top-color: #2ca02c;
}
.source-travis .content.broken, .source-travis .content.failed {
  border-top-color: #d4081a;
}
.source-travis .content .fa-check {
  color: #2ca02c;
}
.source-travis .content .fa-remove {
  color: #d4081a;
}
