<div ng-include="'templates/common/filters.html'"></div>

<div ng-repeat="message in messages" class="{{'row message source-' + message.source.id}}">
    <div class="col-sm-1 col-xs-12 text-right source">
        <i class="{{'fa fa-2x fa-' + message.source.id}}" title="{{message.source.label}}"></i>
    </div>
    <div class="col-sm-11 col-xs-12 content">
        <div class="metadata">
            <span class="metadata-author" ng-bind-html="message.author | author"></span>
            <span class="metadata-date">{{message.time | date:"dd MMM yyyy 'at' HH:mm:ss"}}</span>
        </div>
        <div class="well well-sm body">
            {{message.body}}
        </div>
    </div>
</div>